<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<h1 id='w1'>YOU ARE SELLING <%= @investment.symbol%> FOR <%= MyHelper.get_current_stock_price(@investment.symbol) %></h1>
<h3 id='w2'>DETAILS OF TRANSACTION:</h3>
<h4 id='w2'>SYMBOL: <%= @investment.symbol %><br>
PURCHASE PRICE: <%= @investment.purchase_price %><br>
CURRENT PRICE: <%= @investment.current_price %><br>
PURCHASE DATE: <%= @investment.purchase_date %><br>
PORTFOLIO: <%= @portfolio.portfolio_name %><br></h4>

<div class='container'>
<%= form_for [@portfolio, @investment] do |f| %>

  <%= f.label :num_shares %>
  <%= f.text_field :num_shares %><br>


  
  <%=  f.submit "Sell Investment" %>

  <% end %></div>