<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<h1>YOU ARE SELLING <%= @investment.symbol%> FOR <%= MyHelper.get_current_stock_price(@investment.symbol) %></h1>
<h3>DETAILS OF TRANSACTION:</h3>
<h4>SYMBOL: <%= @investment.symbol %></h4>
<h4>PURCHASE PRICE: <%= @investment.purchase_price %></h4>
<h4>CURRENT PRICE: <%= @investment.current_price %></h4>
<h4>PURCHASE DATE: <%= @investment.purchase_date %></h4>
<h4>PORTFOLIO: <%= @portfolio.portfolio_name %></h4>


<%= form_for [@portfolio, @investment] do |f| %>

  <%= f.label :num_shares %>
  <%= f.text_field :num_shares %><br>


  
  <%=  f.submit "Sell Investment" %>

  <% end %>