<h1>Investments Index Page </h1>
<h2>Investments are cool bro.  Here are some sweet investments:<h2>
<h4><table>
  <tr>
    <th>Investment ID</th>
    <th>Symbol</th>
    <th>Purchase Price</th>
    <th>Current Price</th>
    <th>Purchase Date</th>
    <th>Number of Shares</th>
    <th>Value</th>
    <th>P&L</th>
    <th>P&L %</th>
    <th>Portfolio ID</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
    
    <% @investments.each do |i| %>
    <tr>
        <td><a href="investments/<%=i.id%>"><%= "#{i.id}" %></td>
        <td><%= "#{i.symbol}" %></td>
        <td><%= "#{i.purchase_price}" %></td>
        <td><%= "#{i.current_price}" %></td>
        <td><%= "#{i.purchase_date}" %></td>
        <td><%= "#{i.num_shares}" %></td>
        <td><%= "#{i.investment_value.round(1)}" %></td>
        <td><%= "#{i.investment_pl.round(1)}" %></td>
        <td><%= "#{i.investment_pl_ratio.round(1)}" %></td>
        <td><%= "#{i.portfolio_id}" %></td>
        <td><%= "#{i.created_at}" %></td>
        <td><%= "#{i.updated_at}" %></td> 
        
    </tr>
    <% end %>
</table></h4>