
<div class='container'>
  <%= form_tag '/portfolios/create' do %>
  <label>Portfolio Name:</label>
  <%= text_field_tag :portfolio_name %>

  <label>Initial Cash:</label>
  <%= number_field_tag :initial_cash %>

  <%= hidden_field_tag(:user_id, current_user.id) %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Create" %>
  <% end %>
</div>
  
