<h2>User: <%= @user.username %><br> </h2>

    <% @user.portfolios.each do |p| %>
    <table class="table table-dark">
  <tr>
    <th>Portfolio Name</th>
    <th>Initial Cash</th>
    <th>Current Cash</th>
    <th>Value</th>
    <th>P&L</th>
    <th>P&L %</th>
  </tr>
    <tr>
        <td><%= link_to p.portfolio_name, p %></td>
        <td><%= number_to_currency(p.initial_cash.round(0)) %></td>
        <td><%= number_to_currency(p.current_cash.round(0)) %></td>
        <td><%= number_to_currency(p.portfolio_value.round(2)) %></td>
        <td><%= number_to_currency(p.portfolio_pl.round(2)) %></td>
        <td><%= "#{p.portfolio_pl_ratio.round(2)} %" %></td>
        </tr>
  <table class="table table-dark table-sm">
  <tr>
    <th>Symbol</th>
    <th>Purchase Price</th>
    <th>Current Price</th>
    <th>Purchase Date</th>
    <th>Number of Shares</th>
    <th>Value</th>
    <th>P&L</th>
    <th>P&L %</th>
  </tr>
    
    <% p.investments.each do |i| %>
    <tr>
        <td><%= i.symbol %></td>
        <td><%= number_to_currency(i.purchase_price.round(2)) %></td>
        <td><%= number_to_currency(i.current_price.round(2)) %></td>
        <td><%= i.purchase_date %></td>
        <td><%= i.num_shares %></td>
        <td><%= number_to_currency(i.investment_value.round(2)) %></td>
        <td><%= number_to_currency(i.investment_pl.round(2)) %></td>
        <td><%= "#{i.investment_pl_ratio.round(2)} %" %></td>
    </tr>
    <% end %>
    </table> <br>
    <% end %>
</table>

<%= button_to "Create New Portfolio", new_portfolio_path, method: :get if current_user && current_user.id == @user.id %>
<br>
<h2>Comments:</h2>

<% @user.comments.each do |comment| %>
    <div class="comment">
        <p class="comment_title">
            <%= comment.title %><br>        
        </p>
        <p class="comment_paragraph">
            <%= comment.content %><br>
            Portfolio: <%= link_to Portfolio.all.find(comment.portfolio_id).portfolio_name, Portfolio.all.find(comment.portfolio_id) %><br>
        </p>
        <% if current_user && current_user.id == comment.user_id %>
            <table><tr>
                <td><%= button_to 'Edit Comment', "/comments/#{comment.id}/edit", method: :get%></td>
                <td><%= button_to 'Delete Comment', comment, method: :delete %></td>
            </tr></table>
        <% end %>
    </div>
<% end %>