<h1>Username: <%= @user.username %><br>
Full Name: <%= "#{@user.first_name} #{@user.last_name}" %><br><br>
Portfolios: </h1><hr>
<h3>
<table>
  <tr><h3>
    <th>Portfolio ID</th>
    <th>Name</th>
    <th>Initial Cash</th>
    <th>Current Cash</th>
    <th>User ID</th>
    <th>Value</th>
    <th>P&L</th>
    <th>P&L %</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
    
    <% @user.portfolios.each do |p| %>

    <tr>
        <td><%= link_to p.id, p %></td>
        <td><%= "#{p.portfolio_name}" %></td>
        <td><%= "#{p.initial_cash.round(0)}" %></td>
        <td><%= "#{p.current_cash.round(0)}" %></td>
        <td><%= "#{p.user_id}" %></td>
        <td><%= "#{p.portfolio_value.round(0)}" %></td>
        <td><%= "#{p.portfolio_pl.round(0)}" %></td>
        <td><%= "#{p.portfolio_pl_ratio.round(0)}" %></td>
        <td><%= "#{p.created_at}" %></td>
        <td><%= "#{p.updated_at}" %></td> 
        </tr>
  <table>
  <h4><tr>
    <th>Investment ID</th>
    <th>Symbol</th>
    <th>Purchase Price</th>
    <th>Current Price</th>
    <th>Purchase Date</th>
    <th>Number of Shares</th>
    <th>Value</th>
    <th>P&L</th>
    <th>P&L %</th>
    <th>Portfolio ID</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
    
    <% p.investments.each do |i| %>
    <tr>
        <td><%= i.id %></td>
        <td><%= "#{i.symbol}" %></td>
        <td><%= "#{i.purchase_price}" %></td>
        <td><%= "#{i.current_price}" %></td>
        <td><%= "#{i.purchase_date}" %></td>
        <td><%= "#{i.num_shares}" %></td>
        <td><%= "#{i.investment_value.round(0)}" %></td>
        <td><%= "#{i.investment_pl.round(0)}" %></td>
        <td><%= "#{i.investment_pl_ratio.round(0)}" %></td>
        <td><%= "#{i.portfolio_id}" %></td>
        <td><%= "#{i.created_at}" %></td>
        <td><%= "#{i.updated_at}" %></td> 
    </tr></h4>
    <% end %>
    </table>
    <hr>
    <% end %>

</h3></table>

<%= button_to "Create New Portfolio", new_portfolio_path, method: :get if current_user == @user %>

<h1>Comments:</h1>

<% @user.comments.each do |c| %>
ID: <%= c.id %><br>
Title: <%= c.title %><br>
Content: <%= c.content %><br>
Portfolio ID: <%= link_to c.portfolio_id, Portfolio.all.find(c.portfolio_id) %><br>
<%= button_to 'Delete Comment', c, method: :delete if current_user.id == c.user_id%>
<%= link_to 'Edit Comment', "/comments/#{c.id}/edit" if current_user.id == c.user_id%><br><br>
<% end %>