<h1 id='w1'>Welcome to Portfolio Party</h1>
<p style="text-align:center;"><img src="https://media.giphy.com/media/TLayDh2IZOHPW/giphy.gif" style="max-width:100%;" id=”centerdImage” height="300px"></p>
<h3 id='w2'> TOP 5 PORTFOLIOS </h3>
<div id='welcome'>
<% @sorted.each do |pl|  %> 
<li>User: <%= User.find(pl[1]).username %> | Portfolio Name: <%= Portfolio.find(pl[2]).portfolio_name %> | P&L Ratio: <%= pl[0].round(2) %> </li>
<% end %>
</div>
<h5 id='w4'><%= button_to "View All Portfolios", portfolios_path, method: :get %></h5>

<h3 id='w2'> TOP 5 USERS</h3>
<h5 id='w3'>Average P&L Ratio of ALL Portfolios for Each User</h5>
<div id='welcome'>
<% @users_ports_sorted.uniq.each do |pl|  %> 
<li>User: <%= User.find(pl[1]).username %> | P&L Ratio: <%= pl[0].round(2) %></li>
<% end %>
</div>
<h5 id='w4'><%= button_to "View All Users", users_path, method: :get %></h5><br>
<h5 id='w4'><%= button_to "Create New Account", new_user_path, method: :get %></h5>
