<h2>Ticker Symbol: <%= @news.search_term.upcase %></h2><br>

<h2>Stock Price Data:</h2>
<% if !!@stock_data %>
<table class="table table-light" style="margin: 1%">
<% @stock_data.each do |key, value| %>
<td><%= "#{key}: #{value}" %></td>
<% end %>
</table>

<% else %>
<p>Sorry, that is not a valid stock ticker symbol, please try again.</p>
<% end %>

<h2>Company News:</h2>
<% @top_5_hash.each do |article| %>
<div class="news">
<p class="comment_title"><%= article["title"] %></p>
<p class="comment_paragraph">Content: <%= article["content"] %><br>
Source: <%= article["source"]["name"] %><br>
Author: <%= article["author"] %><br>
Link: <a href="<%= article["url"] %>"><%= article["url"] %></a></p>
</div>

<% end %>

